{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Game list</h1>

    <p><a class="btn btn-default" type="button" href="{{ path('game_new') }}">Create new</a></p>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Home</th>
                <th>Away</th>
                <th>Score</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.time %}{{ entity.time|date('Y-m-d H:i') }}{% endif %}</td>
                <td>
                    <img src="{{ entity.teamHome.logo }}" alt="{{ entity.teamHome.code }}"> 
                    {{ entity.teamHome}}
                </td>
                <td>
                    {{ entity.teamAway}}
                    <img src="{{ entity.teamAway.logo }}" alt="{{ entity.teamAway.code }}"> 
                </td>
                <td>
                    {% if entity.scoreHome %}
                    {{ entity.scoreHome }}:{{ entity.scoreAway }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('game_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a class="btn btn-default" type="button" href="{{ path('game_new') }}">Create new</a></p>

    {% endblock %}
