{% extends '::base.html.twig' %}

{% block body -%}
<div id="banner" class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ entity.name }}</h1>
        </div>
    </div>
</div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            {% for item in entity.competitions %}
                <blockquote>
                    <p>
                        <a href="{{ path('competition_show', { 'id': item.id }) }}">{{ item.name }}</a>
                    </p>
                    <small>{{ item.users|length }} user (-s)</small>
                </blockquote>
            {% endfor %}
        </div>
    </div>
</div>

    {% if is_expr_granted("hasRole('ROLE_ADMIN')") %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('tournament') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('tournament_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('tournament_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
    {% endif %}
{% endblock %}
